[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ee]xports/
UserSettings/
[Ee]xportPackage/
[Aa]pi/
Logs/
UpgradeLog.htm
*.csproj
*.sln
.vsconfig
.vscode
.vs/
!Assets/**/*~
Assets/Unity.VisualScripting.Generated*
/Backend/node_modules
Backend/.env
